 #active {
   background-color: lightgrey;
   padding-left: .5em;
   width: 20em;

 }

 #NY {
  background-color: blueviolet;
  padding-left: .5em;
  width: 20em;

}

 #manufacturing {
  background-color: grey;
  padding-left: .5em;
  width: 20em;
 }

 #agent {
   background-color: lightseagreen;
   padding-left: .5em;
   width: 20em;

 }
